ul{
    list-style: none;
}
a.link{
    text-decoration: none;
    color:inherit;
    
}
.mycolor{
    background-color: #91C4FE;
}
.home{
    width:10px ;
    height: 10px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 2px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #FAF4B7;
    color: rgb(6, 6, 6);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
   
}

#sidebar ul.components {
    padding: 20px 0;}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: rgb(255, 255, 255);
    color: #47B5FF;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgb(8, 8, 8);
   
}

a[data-toggle="collapse"] {
    position: relative;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat" , "sans-serif" ;
}
.back{
    background-image: linear-gradient(69.66deg, #00C1FE 19.39%, #faffbe 96.69%);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
main{
    height: 100vh;
}
span{
    font-size: 10px;
}
.login{
    width: 40%;
    border-radius: 20px;
}
.login-logo h1{
    font-size: 52px;
    font-weight: 700;

}
.login-title h2{
    font-weight: 600;
    font-size: 22px;
}
.login-title p{
    font-size: 14px;
}
form label{
    font-size: 14px;
    font-weight: 500;
}
::placeholder{
    font-size: 12px;
}
.btn{
    font-weight: 500;
}
